/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/ssl
public/js/app.js*
public/mix-manifest.json
/env
/tests/robot_framework/results
